{% set module = module %}

<section class="cta-image container-fluid px-0">
    <div class="row">
        <div class="container">
            {% set titleArticle = module.titleArticle|split(' ', 4) %}
            <h2 class="col-12">{{titleArticle[0]}} {{titleArticle[1]}} {{titleArticle[2]}} <span>{{titleArticle[3]}}</span></h2>
        </div>
    </div>

    <div class="row row2 mt-5 px-0">
        <div class="col col-lg-9 mx-auto">
            <div class="img-container pozadina">
                <img src="{{module.imageArticle.one().url}}" alt="Background image" class="">
            </div>
            
            <div class="card col col-md-8 col-lg-8 col-xl-6">
                <div class="card-body">
                    <h3 class="card-title">{{module.subtitleArticle}}</h3>
                    <p class="card-text">{{module.descriptionArticle}}</p>
                    <a href="#!" class="btn btn-outline-white">{{layout.learnMoreLabel}}</a>
                </div>
            </div>
        </div>
    </div>
    
</section>
