{% set module = module %}

<section class="about-eu-info container-fluid pb-5">
    
    <div class="container">
        <h3 class="font-weight-bold py-5">{{module.titleConsortium}}</h3>
        <div class="row py-3">
            {% for key,entry in module.slide.all() %}   
                <div class="switch switch{{key}} ml-3 p-1">{{entry.title}}</div>
            {% endfor %}

        </div>
        {% for key,entry in module.slide.all() %}
            <div class="article article{{key}} col col-md-6 pb-5 p-0">
                <h4 class="pb-5">{{entry.title}}</h4>
                <p>{{entry.description}}</p>
            </div>
        {% endfor %}
        
    </div>
</section>