{% set module = module %}
{% set allEvents = craft.entries().section('allEvents').one() %}

<section class="container-fluid events">
    <div class="container">
        <h2 class="col mb-3 font-weight-bolder">{{module.titleEvents}}</h2>
        <p class="col text-justify mb-5">{{module.descriptionEvents}}</p>
        <div class="filter-events pt-5">
            <button class="btn btn-outline-success filter-events-title">Filter Events</button>
            <button class="btn btn-outline-success btn-upcoming">Upcoming</button>
            <button class="btn btn-outline-success btn-past">Past</button>
        </div>

        {% set upcoming = module.eventSection.orderBy('eventDate asc').all()|filter(event => event.eventDate > now)|slice(0, 3) %}
        {% set past = module.eventSection.orderBy('eventDate asc').all()|filter(event => event.eventDate < now)|slice(0, 3) %}
        {% set events = upcoming|merge(past) %}

        <div class="event-cards pt-3 d-flex flex-wrap justify-content-between align-items-center">
            {% for event in events %}
                <div class="p-2 col-12 col-sm-6 col-md-4 {% if event.eventDate > now %}event-card-upcoming{% elseif event.eventDate < now %}event-card-past{% endif %}">
                    <div class="event-card">
                        <div class="mb-n2 overflow-hidden d-flex justify-content-center align-items-center">
                            <img src="{{event.image.one().url}}" alt="">
                        </div>
                        <span class="card-date mt-n4 p-2">{{event.eventDate|date('d.m.Y.')}}</span>
                        <div class="event-card-text p-4 my-3">
                            <span class="row font-weight-bold">{{event.title}}</span>
                            <span class="row">{{event.subtitle}}</span>
                        </div>
                        <button class="btn btn-outline-primary ml-2">{{layout.moreDetailsLabel}}</button>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-end p-5">
            <a class="btn btn-outline-primary ml-2" href="{{allEvents.uri}}">{{layout.showEventsLabel}}</a>
        </div>

        {% set button1 = module.firstButton|split(' ',4) %}
        {% set button2 = module.secondButton|split(' ',5) %}

        <div class="p-4 d-flex flex-wrap flex-column flex-sm-row align-items-center justify-content-between">
            <button class="btn btn-outline-primary ml-2 mt-4 become-button font-weight-light col-12 col-sm-5 col-md-6 col-lg-5">
                {{button1[0]}} {{button1[1]}} <span class="font-weight-bold row m-0">{{button1[2]}} {{button1[3]}}</span></button>
            <button class="btn btn-outline-success ml-2 mt-4 become-button font-weight-light text-align-justify col-12 col-sm-5 col-md-6 col-lg-5">
                {{button2[0]}} {{button2[1]}} <span class="font-weight-bold">{{button2[2]}} <span class="row m-0">{{button2[3]}} {{button2[4]}}</span></span></button>
        </div>
    </div>
   
</section>