</main>

{% set entries = craft.entries().section('footer').one() %}
{% set homepage = craft.entries().section('homepage').one() %}

<footer id="footer" class="">
    <div class="container">
        <div class="top-row row col-12 py-4 mb-5">
            <span class="share">Share Page:</span>
            <ul class="list-group list-group-horizontal">
                {% for socialNetwork in entries.sharePage.all() %}
                    <li class="list-group-item border-0 p-1 ml-3"><a class="{{socialNetwork.socialIcon.value}} icons" href="{{socialNetwork.socialUrl}}" target="_blank"></a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="middle-row row">
          <div class="col-6 col-lg">
            {% for category in entries.footerCategory.all() %}
                    <h5>{{category.title}}</h5>
                    <ul class="list-group list-group-flush">
                        {% for topic in category.topic.all() %}
                            <li class="list-group-item"><a href="{{topic.topicUrl}}">{{topic.topicName|upper}}</a></li>    
                        {% endfor %}
                    </ul>
            {% endfor %}
          </div>

            <div class="col offset-xl-3 offset-md-3 offset-sm-3">
                <a href="{{homepage.uri}}"><img src="{{entries.logo.one().url}}" alt="Logo"></a>
                <a href="{{homepage.uri}}"><img src="{{entries.euText.one().url}}" alt="EU text"></a>
            </div>

        </div>
        
        <div class="bottom-row row col-12 py-4 mt-4 align-items-center">
            <div class="footer-info col-12 col-sm-5 d-flex">
                {% for document in entries.footerDocs.all() %}
                    <a href="{{document.document.one().url}}" class="mx-5">{{document.title|upper}}</a>

                {% endfor %}
            </div>
            <div class="d-flex col-12 col-sm-5 offset-2 align-items-center justify-content-sm-end justify-content-md-end ml-auto">
                <span class="connect">Connect with us:</span>
                <ul class="list-group list-group-horizontal-xl">
                    {% for socialNetwork in entries.socialNetworks.all() %}
                        <li class="list-group-item border-0 p-1 ml-3"><a class="{{socialNetwork.socialIcon.value}} icons" href="{{socialNetwork.socialLink}}" target="_blank"></a></li>
                    {% endfor %}
                </ul>
            </div>    
        </div>  
    </div>
</footer>

<?php // Site::getSegment('cookie_accept'); ?>

  <script type="text/javascript" src="/assets/js/jquery-3.4.1.min.js"></script>

  <script type="text/javascript" src="/assets/js/mdb.min.js"></script>
    
  <script type="text/javascript" src="/assets/js/script.min.js" charset="utf-8"></script>

    <script type="text/javascript">
    // Animation
    new WOW().init();

    // Filter
    $(function () {
      var selectedClass = "";
      $(".filter").click(function () {
        selectedClass = $(this).attr("data-rel");
        $("#gallery").fadeTo(100, 0.1);
        $("#gallery div").not("." + selectedClass).fadeOut().removeClass('animation');
        setTimeout(function () {
          $("." + selectedClass).fadeIn().addClass('animation');
          $("#gallery").fadeTo(300, 1);
          $(".event-card-text").removeAttr('style');
        }, 300);
      });
    });

  </script>


</body>
</html>